node_modules
dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yarn

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#忽略目录
build
examples
packages
public

#忽略指定文件
babel.config.json
postcss.config.js
*.map